<!-- build:js(www) /assets/dist/scripts/vendor.js -->
<script src="/assets/scripts/lib/loggly.tracker.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/jquery.validate.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/jquery.validate.additional.methods.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/jquery.dateFormat-1.0.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/fullcalendar.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/jquery/jquery.iframe-transport.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/accounting.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/bootstrap.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/html5shiv.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/modernizr.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/underscore.js" type="text/javascript"></script>
<script src="/assets/scripts/lib/backbone.js" type="text/javascript"></script>
<!-- endbuild -->
<!-- build:js(www) /assets/dist/scripts/app.js -->
<script src="/assets/scripts/app/util/template.cache.js" type="text/javascript"></script>
<script src="/assets/scripts/app/util/serialize.object.js" type="text/javascript"></script>
<script src="/assets/scripts/app/routers/Base.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/Base.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Base.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/Base.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/404.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/Modal.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/BaseForm.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/BaseList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/Confirm.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/DataTable.js" type="text/javascript"></script>

<script src="/assets/scripts/app/models/Availability.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/AvailabilityCalendar.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Conversation.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Customer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Dashboard.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Diary.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Event.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Message.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Note.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Notification.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Payable.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Payout.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Plan.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Pricing.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Registration.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/Transaction.js" type="text/javascript"></script>
<script src="/assets/scripts/app/models/User.js" type="text/javascript"></script>

<script src="/assets/scripts/app/collections/ConversationList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/CustomerList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/DiaryList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/EventList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/MessageList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/NoteList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/collections/PlanList.js" type="text/javascript"></script>

<script src="/assets/scripts/app/routers/DashboardCounselor.js" type="text/javascript"></script>
<script src="/assets/scripts/app/routers/DashboardCustomer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/routers/MyAccount.js" type="text/javascript"></script>
<script src="/assets/scripts/app/routers/Admin.js" type="text/javascript"></script>
<script src="/assets/scripts/app/routers/Registration.js" type="text/javascript"></script>

<script src="/assets/scripts/app/views/admin/Admin.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Counselor.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Customer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/CustomerDataTable.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Dashboard.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Notification.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Payable.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Payout.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Pricing.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/admin/Transaction.js" type="text/javascript"></script>

<script src="/assets/scripts/app/views/dashboard/Calendar.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/ConversationList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Credits.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Customer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/CustomerList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/DashboardCounselor.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/DashboardCustomer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Diary.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/DiaryListCounselor.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/DiaryListCustomer.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Event.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/EventList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Info.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/Message.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/MessageList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/NoteList.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/dashboard/VideoAdd.js" type="text/javascript"></script>

<script src="/assets/scripts/app/views/my_account/AccountType.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/Availability.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/AvailabilityCalendar.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/Notifications.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/MyAccount.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/Password.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/Payment.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/my_account/Profile.js" type="text/javascript"></script>

<script src="/assets/scripts/app/views/registration/BaseStep.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Plan.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Step1.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Step2.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Step3.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Step4.js" type="text/javascript"></script>
<script src="/assets/scripts/app/views/registration/Step5.js" type="text/javascript"></script>
<!-- endbuild -->