/* line 4, ../sass/_form.scss */
.std-form .form-control { font-weight: 300; font-size: 18px; height: 38px; color: #5c2a43; border: 1px #f2dfc9 solid; }
/* line 22, ../sass/_mixins.scss */
.std-form .form-control::-webkit-input-placeholder { color: #5c2a43; }
/* line 26, ../sass/_mixins.scss */
.std-form .form-control:-moz-placeholder { /* Firefox 18- */ color: #5c2a43; }
/* line 30, ../sass/_mixins.scss */
.std-form .form-control::-moz-placeholder { /* Firefox 19+ */ color: #5c2a43; }
/* line 34, ../sass/_mixins.scss */
.std-form .form-control:-ms-input-placeholder { color: #5c2a43; }
/* line 13, ../sass/_form.scss */
.std-form .form-control.error { border: 1px solid #B94A48; }
/* line 17, ../sass/_form.scss */
.std-form .form-control.datepicker { padding: 6px 12px; }
/* line 23, ../sass/_form.scss */
.std-form textarea.form-control { height: auto; }
/* line 27, ../sass/_form.scss */
.std-form textarea.short { height: 38px !important; }
/* line 32, ../sass/_form.scss */
.std-form label.error { font-weight: normal; background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; font-weight: 300; font-size: 14px; }
/* line 42, ../sass/_form.scss */
.std-form .date i.calendar { color: #744057; }
/* line 44, ../sass/_form.scss */
.std-form .date i.calendar:before { color: #744057; }

/* line 54, ../sass/_form.scss */
.datepicker-dropdown table thead { background: #491f35; color: #905a72; }
/* line 59, ../sass/_form.scss */
.datepicker-dropdown table thead tr th.dow { background: #834864; color: #ffffff; border-radius: 0; }
/* line 69, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td.day { color: #333; }
/* line 72, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td.day.active { background: #ff6494 !important; color: #ffffff; }
/* line 78, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.month { color: #333; }
/* line 81, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.month.active { background: #ff6494 !important; color: #ffffff; }
/* line 87, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.year { color: #333; }
/* line 90, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.year.active { background: #ff6494 !important; color: #ffffff; }

/* line 101, ../sass/_form.scss */
.gform_wrapper ul.gform_fields { margin: 0; padding: 0; list-style: none; }
/* line 108, ../sass/_form.scss */
.gform_wrapper ul.gform_fields li.gfield.gfield_error .gfield_label, .gform_wrapper ul.gform_fields li.gfield.gfield_error .ginput_container { margin-top: 0; }
/* line 112, ../sass/_form.scss */
.gform_wrapper ul.gform_fields li.gfield.gfield_error .validation_message { padding: 0; margin-top: 0; }
/* line 120, ../sass/_form.scss */
.gform_wrapper .gfield_admin_icons { display: none; }
/* line 124, ../sass/_form.scss */
.gform_wrapper .gfield_required { color: red; font-weight: 300; }
/* line 130, ../sass/_form.scss */
.gform_wrapper .ginput_container input[type="text"], .gform_wrapper .ginput_container input[type="tel"], .gform_wrapper .ginput_container input[type="number"], .gform_wrapper .ginput_container input[type="url"], .gform_wrapper .ginput_container input[type="email"], .gform_wrapper .ginput_container textarea, .gform_wrapper .ginput_container select { font-weight: 300; font-size: 18px; height: 38px; color: #5c2a43; border: 1px #f2dfc9 solid; background: #f5e8da; width: 100%; margin-bottom: 10px; }
/* line 22, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="tel"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="number"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="url"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="email"]::-webkit-input-placeholder, .gform_wrapper .ginput_container textarea::-webkit-input-placeholder, .gform_wrapper .ginput_container select::-webkit-input-placeholder { color: #5c2a43; }
/* line 26, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="tel"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="number"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="url"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="email"]:-moz-placeholder, .gform_wrapper .ginput_container textarea:-moz-placeholder, .gform_wrapper .ginput_container select:-moz-placeholder { /* Firefox 18- */ color: #5c2a43; }
/* line 30, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="tel"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="number"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="url"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="email"]::-moz-placeholder, .gform_wrapper .ginput_container textarea::-moz-placeholder, .gform_wrapper .ginput_container select::-moz-placeholder { /* Firefox 19+ */ color: #5c2a43; }
/* line 34, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="tel"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="number"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="url"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="email"]:-ms-input-placeholder, .gform_wrapper .ginput_container textarea:-ms-input-placeholder, .gform_wrapper .ginput_container select:-ms-input-placeholder { color: #5c2a43; }
/* line 142, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea { height: auto; }
/* line 145, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea.small { height: 100px; }
/* line 148, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea.medium { height: 200px; }
/* line 154, ../sass/_form.scss */
.gform_wrapper div.validation_error { font-size: inherit; margin-bottom: 10px; }

/* line 1, ../sass/_datatable.scss */
.dataTables_wrapper { background: #F4F4F4; }
/* line 4, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_length { float: left; width: 200px; padding: 10px; }
/* line 9, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_length label { color: #401b2d; font-weight: 300; }
/* line 14, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_length select { background: #000; color: #fff; font-weight: 500; border: 1px #000 solid; }
/* line 22, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_filter { float: right; width: 400px; text-align: right; padding: 10px 10px 5px 10px; }
/* line 27, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_filter label { color: #401b2d; font-weight: 300; }
/* line 32, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_filter input { background: #fff; border: 1px #4A4A4A solid; padding: 3px; color: #000; }
/* line 40, ../sass/_datatable.scss */
.dataTables_wrapper table { clear: both; width: 100%; border-top: 1px #4A4A4A solid; background: #fff; }
/* line 47, ../sass/_datatable.scss */
.dataTables_wrapper table tr th, .dataTables_wrapper table tr td { padding: 5px; line-height: 30px; border-bottom: 1px #000 solid; }
/* line 52, ../sass/_datatable.scss */
.dataTables_wrapper table tr th { color: #ac738c; font-weight: bold; }
/* line 56, ../sass/_datatable.scss */
.dataTables_wrapper table tr th.sorting, .dataTables_wrapper table tr th.sorting_asc, .dataTables_wrapper table tr th.sorting_desc { cursor: pointer; }
/* line 61, ../sass/_datatable.scss */
.dataTables_wrapper table tr td { cursor: pointer; }
/* line 66, ../sass/_datatable.scss */
.dataTables_wrapper table tr:hover td { background: #744057; }
/* line 73, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_info { float: left; font-size: 14px; margin: 5px 0 0 10px; }
/* line 79, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_paginate { float: right; }
/* line 82, ../sass/_datatable.scss */
.dataTables_wrapper .dataTables_paginate a { display: inline-block; padding: 10px; }

/* line 7, ../sass/admin.scss */
body#admin { color: #000; }
/* line 10, ../sass/admin.scss */
body#admin #header { background: #4A4A4A; border-bottom: 1px #fff solid; padding: 10px 0; color: #fff; }
/* line 16, ../sass/admin.scss */
body#admin #header .brand { background-image: url('/assets/dist/images/logo-footer.png?1499188648'); background-repeat: no-repeat; width: 130px; height: 65px; overflow: hidden; text-indent: -9000px; display: block; font: 0/0 a; text-shadow: none; color: transparent; margin-top: 0; }
/* line 23, ../sass/admin.scss */
body#admin #header .user-meta .user-name { float: right; margin-right: 35px; }
/* line 26, ../sass/admin.scss */
body#admin #header .user-meta .user-name img { float: left; margin-right: 15px; }
/* line 31, ../sass/admin.scss */
body#admin #header .user-meta .user-name h4 { text-transform: none; font-weight: bold; float: left; margin-top: 15px; padding-right: 10px; margin-right: 10px; border-right: 1px #ffffff solid; }
/* line 42, ../sass/admin.scss */
body#admin #header .user-meta #logout-link { margin-top: 3px; float: right; font-size: 16px; color: #ffffff; }
/* line 51, ../sass/admin.scss */
body#admin #page { background: transparent; }
/* line 54, ../sass/admin.scss */
body#admin #page .page-title { padding: 20px 0; border-bottom: 1px #401b2d solid; }
/* line 58, ../sass/admin.scss */
body#admin #page .page-title h1 { font-style: normal; margin: 0; text-transform: uppercase; }
/* line 65, ../sass/admin.scss */
body#admin #page .body { min-height: 300px; border-top: 3px #491f35 solid; color: #4A4A4A; }
/* line 71, ../sass/admin.scss */
body#admin #page .body table.notifications th.name { width: 25%; }
/* line 75, ../sass/admin.scss */
body#admin #page .body table.notifications td { vertical-align: top; }
/* line 79, ../sass/admin.scss */
body#admin #page .body table.notifications td.description { line-height: 20px; }
/* line 85, ../sass/admin.scss */
body#admin #page .body #notification .mce-tinymce { margin-bottom: 20px; }
/* line 90, ../sass/admin.scss */
body#admin #page .body small { font-size: 12px; line-height: 16px; }
/* line 97, ../sass/admin.scss */
body#admin #sidebar { min-height: 500px; background: #000; /*border: 3px #000 solid;*/ margin-top: -4px; }
/* line 103, ../sass/admin.scss */
body#admin #sidebar li { text-transform: uppercase; }
/* line 107, ../sass/admin.scss */
body#admin #sidebar li.active a, body#admin #sidebar li.active a:active, body#admin #sidebar li.active a:visited, body#admin #sidebar li.active a:hover, body#admin #sidebar li:hover a, body#admin #sidebar li:hover a:active, body#admin #sidebar li:hover a:visited, body#admin #sidebar li:hover a:hover, body#admin #sidebar li:active a, body#admin #sidebar li:active a:active, body#admin #sidebar li:active a:visited, body#admin #sidebar li:active a:hover, body#admin #sidebar li:focus a, body#admin #sidebar li:focus a:active, body#admin #sidebar li:focus a:visited, body#admin #sidebar li:focus a:hover { background: #4A4A4A; color: #fff; font-weight: bold; }
/* line 114, ../sass/admin.scss */
body#admin #sidebar li a { line-height: 36px; padding: 10px 20px; color: #ffffff; border-radius: 0; }
/* line 120, ../sass/admin.scss */
body#admin #sidebar li a:hover, body#admin #sidebar li a:focus, body#admin #sidebar li a:active { background: #4A4A4A; color: #fff; font-weight: bold; }
/* line 130, ../sass/admin.scss */
body#admin .stat h4 { background: #000; border: 3px #000 solid; color: #fff; text-align: center; line-height: 36px; margin-bottom: 5px; margin-top: -4px; text-transform: none; }
/* line 141, ../sass/admin.scss */
body#admin .stat .count { background: #4A4A4A; border: 3px #4A4A4A solid; font-size: 50px; line-height: 90px; text-align: center; font-weight: 500; margin-bottom: 30px; color: #ff5f92; }
/* line 153, ../sass/admin.scss */
body#admin .stats li { padding: 10px 0; font-size: 18px; line-height: 28px; }
/* line 158, ../sass/admin.scss */
body#admin .stats li strong { display: block; float: right; width: 85px; text-align: right; }
/* line 167, ../sass/admin.scss */
body#admin .btn, body#admin .btn:visited { border-radius: 0; background: #C3C3C3; color: #4A4A4A; border: 1px #4A4A4A solid; font-weight: bold; }
/* line 174, ../sass/admin.scss */
body#admin .btn.cancel, body#admin .btn:visited.cancel { margin-right: 20px; }
/* line 180, ../sass/admin.scss */
body#admin .modal-footer .btn-default { border: 1px #a68c99 solid; color: #ffffff; }
/* line 186, ../sass/admin.scss */
body#admin .filter-bar { background: #834864; color: #401b2d; margin: 5px 0; padding: 3px 10px; }
/* line 192, ../sass/admin.scss */
body#admin .filter-bar label { font-weight: 300; line-height: 30px; }
/* line 199, ../sass/admin.scss */
body#admin .icon-link i { color: #ff6494; padding-left: 38px; }
/* line 203, ../sass/admin.scss */
body#admin .icon-link i:before { color: #ff6494; font-size: 20px; line-height: 26px; display: block; left: 14px; top: -15px; }
/* line 214, ../sass/admin.scss */
body#admin hr { border-color: #834864; }
/* line 218, ../sass/admin.scss */
body#admin a.delete { margin: 20px 0; }
/* line 222, ../sass/admin.scss */
body#admin .btn-primary, body#admin .btn-primary:hover, body#admin .btn-primary:active, body#admin .btn-primary:focus { border-radius: 0; background: #ff6494; color: #5c2a43; border: 1px #e67092 solid; }
/* line 230, ../sass/admin.scss */
body#admin .submit-container .alert { padding: 12px; margin-right: 20px; }
/* line 234, ../sass/admin.scss */
body#admin .submit-container .btn { margin: 0 0 0 10px; }
/* line 240, ../sass/admin.scss */
body#admin .std-form .form-control { background: #401b2d; color: #ffffff; border-color: #834864; }
/* line 22, ../sass/_mixins.scss */
body#admin .std-form .form-control::-webkit-input-placeholder { color: #ffffff; }
/* line 26, ../sass/_mixins.scss */
body#admin .std-form .form-control:-moz-placeholder { /* Firefox 18- */ color: #ffffff; }
/* line 30, ../sass/_mixins.scss */
body#admin .std-form .form-control::-moz-placeholder { /* Firefox 19+ */ color: #ffffff; }
/* line 34, ../sass/_mixins.scss */
body#admin .std-form .form-control:-ms-input-placeholder { color: #ffffff; }
/* line 249, ../sass/admin.scss */
body#admin .nav-tabs { margin-top: 10px; margin-bottom: 20px; border-color: #401b2d; }
/* line 255, ../sass/admin.scss */
body#admin .nav-tabs li.active a, body#admin .nav-tabs li.active a:hover, body#admin .nav-tabs li.active a:active, body#admin .nav-tabs li.active a:focus, body#admin .nav-tabs li:hover a, body#admin .nav-tabs li:hover a:hover, body#admin .nav-tabs li:hover a:active, body#admin .nav-tabs li:hover a:focus, body#admin .nav-tabs li:active a, body#admin .nav-tabs li:active a:hover, body#admin .nav-tabs li:active a:active, body#admin .nav-tabs li:active a:focus, body#admin .nav-tabs li:focus a, body#admin .nav-tabs li:focus a:hover, body#admin .nav-tabs li:focus a:active, body#admin .nav-tabs li:focus a:focus { border-radius: 0; background: #401b2d; color: #ff6494; font-weight: bold; border-color: #401b2d; }
/* line 265, ../sass/admin.scss */
body#admin .nav-tabs li a:hover, body#admin .nav-tabs li a:active, body#admin .nav-tabs li a:focus { border-radius: 0; background: #401b2d; color: #ff6494; font-weight: bold; border-color: #401b2d; }
/* line 276, ../sass/admin.scss */
body#admin #registration hr { border-color: #401b2d; }
/* line 279, ../sass/admin.scss */
body#admin #registration .registration-field { margin-bottom: 10px; }
/* line 281, ../sass/admin.scss */
body#admin #registration .registration-field label { display: block; margin-bottom: 5px; }
/* line 290, ../sass/admin.scss */
body#admin #counselor #counselor-customer .filter-bar { display: none; }
/* line 296, ../sass/admin.scss */
body#admin .alert { border-radius: 0 0 5px 5px; }
/* line 299, ../sass/admin.scss */
body#admin .alert.alert-warning { background: #834864; color: #fce7e4; border-color: #401b2d; border-width: 3px; border-top: 0; }
/* line 308, ../sass/admin.scss */
body#admin .panel { border: 0; background: none; }
/* line 312, ../sass/admin.scss */
body#admin .panel .panel-heading { background: #000; border: 3px #000 solid; color: #fff; margin-bottom: 3px; }
/* line 319, ../sass/admin.scss */
body#admin .panel .panel-body { background: #000; border: 3px #000 solid; color: #ffffff; }
/* line 324, ../sass/admin.scss */
body#admin .panel .panel-body label { font-weight: normal; }
