/* line 4, ../sass/_form.scss */
.std-form .form-control { font-weight: 300; font-size: 18px; height: 38px; color: #000; border: 1px #F4F4F4 solid; }
/* line 22, ../sass/_mixins.scss */
.std-form .form-control::-webkit-input-placeholder { color: #4A4A4A; }
/* line 26, ../sass/_mixins.scss */
.std-form .form-control:-moz-placeholder { /* Firefox 18- */ color: #4A4A4A; }
/* line 30, ../sass/_mixins.scss */
.std-form .form-control::-moz-placeholder { /* Firefox 19+ */ color: #4A4A4A; }
/* line 34, ../sass/_mixins.scss */
.std-form .form-control:-ms-input-placeholder { color: #4A4A4A; }
/* line 13, ../sass/_form.scss */
.std-form .form-control.error { border: 1px solid #B94A48; }
/* line 17, ../sass/_form.scss */
.std-form .form-control.datepicker { padding: 6px 12px; }
/* line 23, ../sass/_form.scss */
.std-form textarea.form-control { height: auto; }
/* line 27, ../sass/_form.scss */
.std-form textarea.short { height: 38px !important; }
/* line 32, ../sass/_form.scss */
.std-form label.error { font-weight: normal; background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48; font-weight: 300; font-size: 14px; }
/* line 42, ../sass/_form.scss */
.std-form .date i.calendar { color: #000; }
/* line 44, ../sass/_form.scss */
.std-form .date i.calendar:before { color: #000; }

/* line 54, ../sass/_form.scss */
.datepicker-dropdown table thead { background: #ff5f92; color: #fff; }
/* line 59, ../sass/_form.scss */
.datepicker-dropdown table thead tr th.dow { background: #000; color: #ffffff; border-radius: 0; }
/* line 69, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td.day { color: #333; }
/* line 72, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td.day.active { background: #ff6494 !important; color: #ffffff; }
/* line 78, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.month { color: #333; }
/* line 81, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.month.active { background: #ff6494 !important; color: #ffffff; }
/* line 87, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.year { color: #333; }
/* line 90, ../sass/_form.scss */
.datepicker-dropdown table tbody tr td span.year.active { background: #ff6494 !important; color: #ffffff; }

/* line 101, ../sass/_form.scss */
.gform_wrapper ul.gform_fields { margin: 0; padding: 0; list-style: none; }
/* line 108, ../sass/_form.scss */
.gform_wrapper ul.gform_fields li.gfield.gfield_error .gfield_label, .gform_wrapper ul.gform_fields li.gfield.gfield_error .ginput_container { margin-top: 0; }
/* line 112, ../sass/_form.scss */
.gform_wrapper ul.gform_fields li.gfield.gfield_error .validation_message { padding: 0; margin-top: 0; }
/* line 120, ../sass/_form.scss */
.gform_wrapper .gfield_admin_icons { display: none; }
/* line 124, ../sass/_form.scss */
.gform_wrapper .gfield_required { color: red; font-weight: 300; }
/* line 130, ../sass/_form.scss */
.gform_wrapper .ginput_container input[type="text"], .gform_wrapper .ginput_container input[type="tel"], .gform_wrapper .ginput_container input[type="number"], .gform_wrapper .ginput_container input[type="url"], .gform_wrapper .ginput_container input[type="email"], .gform_wrapper .ginput_container textarea, .gform_wrapper .ginput_container select { font-weight: 300; font-size: 18px; height: 38px; color: #5c2a43; border: 1px #9B9B9B solid; background: #f5e8da; width: 100%; margin-bottom: 10px; }
/* line 22, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="tel"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="number"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="url"]::-webkit-input-placeholder, .gform_wrapper .ginput_container input[type="email"]::-webkit-input-placeholder, .gform_wrapper .ginput_container textarea::-webkit-input-placeholder, .gform_wrapper .ginput_container select::-webkit-input-placeholder { color: #5c2a43; }
/* line 26, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="tel"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="number"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="url"]:-moz-placeholder, .gform_wrapper .ginput_container input[type="email"]:-moz-placeholder, .gform_wrapper .ginput_container textarea:-moz-placeholder, .gform_wrapper .ginput_container select:-moz-placeholder { /* Firefox 18- */ color: #5c2a43; }
/* line 30, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="tel"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="number"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="url"]::-moz-placeholder, .gform_wrapper .ginput_container input[type="email"]::-moz-placeholder, .gform_wrapper .ginput_container textarea::-moz-placeholder, .gform_wrapper .ginput_container select::-moz-placeholder { /* Firefox 19+ */ color: #5c2a43; }
/* line 34, ../sass/_mixins.scss */
.gform_wrapper .ginput_container input[type="text"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="tel"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="number"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="url"]:-ms-input-placeholder, .gform_wrapper .ginput_container input[type="email"]:-ms-input-placeholder, .gform_wrapper .ginput_container textarea:-ms-input-placeholder, .gform_wrapper .ginput_container select:-ms-input-placeholder { color: #5c2a43; }
/* line 142, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea { height: auto; }
/* line 145, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea.small { height: 100px; }
/* line 148, ../sass/_form.scss */
.gform_wrapper .ginput_container textarea.medium { height: 200px; }
/* line 154, ../sass/_form.scss */
.gform_wrapper div.validation_error { font-size: inherit; margin-bottom: 10px; }

/** HEADER **/
/* line 8, ../sass/user.scss */
#header #logout-link { position: absolute; right: 0; top: 10px; font-size: 14px; }
/* line 16, ../sass/user.scss */
#header .btn-group.light-group { border-width: 1px 1px 0 0; /*border-color: #9B9B9B; */border-style: solid; }
/* line 21, ../sass/user.scss */
#header .btn-group.light-group a { background: #ffffff; border-width: 0 0 0 1px; border-color: #000; border-style: solid; color: #000; z-index: 1 !important; }
/* line 29, ../sass/user.scss */
#header .btn-group.light-group a.active { background: #000; color: #fff; box-shadow: none; }

/* line 39, ../sass/user.scss */
#login-box { margin-top: 40px; margin-bottom: 30px; }
/* line 43, ../sass/user.scss */
#login-box .form-group { overflow: hidden; }
/* line 46, ../sass/user.scss */
#login-box .form-group .prefix { width: 60px; text-align: center; display: block; float: left; height: 54px; font-size: 10px; line-height: 34px; background: #ff5f92; }
/* line 56, ../sass/user.scss */
#login-box .form-group .prefix i { height: 58px; display: block; }
/* line 60, ../sass/user.scss */
#login-box .form-group .prefix i:before { font-size: 30px; line-height: 58px; display: block; left: 14px; }
/* line 69, ../sass/user.scss */
#login-box .form-group input { width: 270px; font-size: 24px; line-height: 54px; float: left; height: 54px; display: block; background-color: #fff;}
#login-box .form-group input:-webkit-autofill {background-color: #fff;}
/* line 80, ../sass/user.scss */
#login-box button i { padding-left: 10px; height: 33px; color: #fff; }
/* line 86, ../sass/user.scss */
#login-box button i:before { font-size: 20px; line-height: 33px; color: #fff; }
/* line 94, ../sass/user.scss */
#login-box.forgot { margin-top: 20px; }
/* line 97, ../sass/user.scss */
#login-box.forgot .form-group { margin-top: 20px; margin-bottom: 20px; }
/* line 101, ../sass/user.scss */
#login-box.forgot .form-group input { width: 450px; background-color: #fff;}

/** PAGE **/
/* line 110, ../sass/user.scss */
#page .submit-container .alert { margin-right: 20px; padding: 11px 15px; }
/* line 115, ../sass/user.scss */
#page .body { font-size: 18px; line-height: 26px; color: #F9F9F9; padding: 20px 0 30px; color: #000; min-height: 500px; background-color: #F4F4F4; }
/* line 124, ../sass/user.scss */
#page .user-meta {
    background: #4A4A4A;
    border-top: 2px #4A4A4A solid;
    border-bottom: 1px #9B9B9B solid;
    color: #fff;
    margin: 20px 0;
}
/* line 131, ../sass/user.scss */
#page .user-meta .col { min-height: 42px; padding: 5px 0; }
/* line 136, ../sass/user.scss */
#page .user-meta span { font-size: 20px; line-height: 30px; }
/* line 140, ../sass/user.scss */
#page .user-meta span.badge { font-size: 12px; line-height: 1; }
/* line 146, ../sass/user.scss */
#page .user-meta div.name, #page .user-meta div.messages, #page .user-meta div.diaries { border-right: 1px #9B9B9B solid; }
/* line 150, ../sass/user.scss */
#page .user-meta .location span { padding-right: 10px; }
/* line 153, ../sass/user.scss */
#page .user-meta a { font-weight: bold; color: #ac738c; text-transform: uppercase; }

/** SIDEBAR **/
/* line 163, ../sass/user.scss */
#sidebar .section { padding-top: 0; /*border: 1px #ff5f92 solid;*/ text-align: center; color: #4A4A4A; background: #ffffff; }
/* line 170, ../sass/user.scss */
#sidebar .section.no-top { border-top: 0; }
/* line 174, ../sass/user.scss */
#sidebar .section.no-bottom { border-bottom: 0; }
/* line 178, ../sass/user.scss */
#sidebar .section.attached-top { margin-top: -20px; padding-top: 30px; }
/* line 183, ../sass/user.scss */
#sidebar .section h4 { background-color: #9B9B9B; padding: 10px 0; border-top: 1px #9B9B9B solid; border-bottom: 1px #9B9B9B solid; margin: 5px 0; color: #fff;}
/* line 190, ../sass/user.scss */
#sidebar .section h4.top { margin-top: 0; border-top: 0; }
/* line 195, ../sass/user.scss */
#sidebar .section h4.plain { background-color: transparent; border: 0; }
/* line 201, ../sass/user.scss */
#sidebar .section .icon-statistic { padding: 10px 0; }
/* line 203, ../sass/user.scss */
#sidebar .section .icon-statistic i { display: inline-block; vertical-align: middle; }
/* line 209, ../sass/user.scss */
#sidebar .section .credits i { background-image: url('/assets/dist/images/icon-circle-star.png'); background-repeat: no-repeat; width: 26px; height: 26px; }
/* line 212, ../sass/user.scss */
#sidebar .section .diary i { background-image: url('/assets/dist/images/icon-diary.png'); background-repeat: no-repeat; width: 26px; height: 26px; }
/* line 215, ../sass/user.scss */
#sidebar .section .session i { background-image: url('/assets/dist/images/icon-play.png'); background-repeat: no-repeat; width: 26px; height: 26px; }
/* line 219, ../sass/user.scss */
#sidebar .section .counselor { margin-bottom: 10px; }
/* line 221, ../sass/user.scss */
#sidebar .section .counselor img { margin: 0 10px 0 10px; max-width: 60px; }
/* line 226, ../sass/user.scss */
#sidebar .section .counselor span { margin: 8px 10px 0 0; display: block; float: left; width: 140px; text-align: left; font-size: 18px; }
/* line 237, ../sass/user.scss */
#sidebar .section .nav li { text-align: left; border-top: 1px #F4F4F4 solid; }
/* line 241, ../sass/user.scss */
#sidebar .section .nav li a { color: #000; padding: 15px 12px; text-transform: uppercase; }
/* line 246, ../sass/user.scss */
#sidebar .section .nav li a:hover, #sidebar .section .nav li a.active { background: #ff5f92; color: #ffffff; }
/* line 250, ../sass/user.scss */
#sidebar .section .nav li a:hover i, #sidebar .section .nav li a.active i { color: #ffffff; }
/* line 252, ../sass/user.scss */
#sidebar .section .nav li a:hover i:before, #sidebar .section .nav li a.active i:before { color: #ffffff; }
/* line 258, ../sass/user.scss */
#sidebar .section .nav li a i { color: #e7d2bd; padding-left: 32px; }
/* line 262, ../sass/user.scss */
#sidebar .section .nav li a i:before { color: #000; line-height: 0; }
/* line 273, ../sass/user.scss */
#sidebar .white-arrow { background-image: url('/assets/dist/images/sidebar-bottom-white.png'); background-repeat: no-repeat; width: 240px; height: 90px; display: none !important; }
/*#sidebar .white-arrow { background-image: url('/assets/dist/images/sidebar-bottom-white.png'); background-repeat: no-repeat; width: 240px; height: 90px; }*/
/* line 276, ../sass/user.scss */
#sidebar .brown-arrow { /*background-image: url('/assets/dist/images/sidebar-bottom-brown.png'); */background-repeat: no-repeat; width: 240px; height: 91px; text-align: center; }
/* line 280, ../sass/user.scss */
#sidebar .brown-arrow .btn-primary { font-weight: bold; margin: 0 auto; border-radius: 0px 0px 4px 4px; }
/* line 287, ../sass/user.scss */
#sidebar .top-arrow { /*background-image: url('/assets/dist/images/sidebar-top-white.png');*/ background-repeat: no-repeat; width: 240px; height: 41px; text-align: center; }

/* line 294, ../sass/user.scss */
.submit-container .alert { margin-bottom: 0; }

/* line 300, ../sass/user.scss */
#plans .underline { padding-top: 10px; border-bottom: 1px solid #ffe1db; }
/* line 305, ../sass/user.scss */
#plans .option { color: #ff6494; }
/* line 309, ../sass/user.scss */
#plans .plan-row { margin: 20px 0; }
/* line 313, ../sass/user.scss */
#plans .card-fields { position: relative; top: 0; }
/* line 318, ../sass/user.scss */
#plans .video-session, #plans .blush-journal { color: #CDADBA; font-size: 26px; margin-left: 36px; padding-left: 60px; }
/* line 325, ../sass/user.scss */
#plans .video-session { background-image: url('/assets/dist/images/video.png'); background-position: left center; background-repeat: no-repeat; }
/* line 331, ../sass/user.scss */
#plans .blush-journal { background-image: url('/assets/dist/images/journal.png'); background-position: left center; background-repeat: no-repeat; }
/* line 339, ../sass/user.scss */
#plans .item-container .cancel { display: none; }
/* line 342, ../sass/user.scss */
#plans .item-container.active { margin-left: 0; }
/* line 346, ../sass/user.scss */
#plans .item-container.active .plan-item a.choose { display: none; }
/* line 350, ../sass/user.scss */
#plans .item-container.active .plan-item a.cancel { display: block; }
/* line 355, ../sass/user.scss */
#plans .item-container.inactive { display: none; }
/* line 360, ../sass/user.scss */
#plans .item-container.current .plan-item { background: #ffffff; }
/* line 363, ../sass/user.scss */
#plans .item-container.current .plan-item a.choose { display: none; }
/* line 367, ../sass/user.scss */
#plans .item-container.current .plan-item span.chosen { display: block; border: 0; background: #ffffff; }
/* line 376, ../sass/user.scss */
#plans .plan-item { background: none repeat scroll 0 0 #FDF6EE; border: 2px solid #ffe1db; min-height: 360px; text-align: center; }
/* line 382, ../sass/user.scss */
#plans .plan-item h4 { color: #CDADBA; font-size: 28px; font-weight: normal; margin: 25px 0 5px; text-transform: uppercase; }
/* line 390, ../sass/user.scss */
#plans .plan-item h5 { font-size: 60px; font-weight: normal; }
/* line 394, ../sass/user.scss */
#plans .plan-item h5 sup { font-size: 15px; }
/* line 399, ../sass/user.scss */
#plans .plan-item div { display: block; color: #ff6494; font-size: 26px; margin-bottom: 20px; }
/* line 406, ../sass/user.scss */
#plans .plan-item a.choose, #plans .plan-item a.cancel, #plans .plan-item span.chosen { display: block; background-image: url('/assets/dist/images/btn-gradient.png'); border: 1px solid #ffe1db; font-size: 26px; line-height: 48px; width: 80%; min-height: 48px; margin: 0 auto; }
/* line 417, ../sass/user.scss */
#plans .plan-item a.cancel { display: none; }
/* line 421, ../sass/user.scss */
#plans .plan-item span.chosen { display: none; }
/* line 426, ../sass/user.scss */
#plans .plan-item-best { background: #ffede9; padding: 4px; border: 2px solid #ffe1db; }
/* line 432, ../sass/user.scss */
#plans .best-value { color: #ffffff; background: #ffe1db; position: absolute; top: -36px; right: -36px; width: 76px; height: 76px; border-radius: 38px; border: 1px solid #ffe1db; text-align: center; font-size: 18px; line-height: 20px; padding-top: 18px; }
/* line 448, ../sass/user.scss */
#plans .xicon { height: 105px; margin-top: -36px; margin-bottom: 2em; }
/* line 453, ../sass/user.scss */
#plans .the-touch-up { background-image: url('/assets/dist/images/touchup.png'); background-repeat: no-repeat; background-position: center; }
/* line 459, ../sass/user.scss */
#plans .the-essentials { background-image: url('/assets/dist/images/essentials.png'); background-repeat: no-repeat; background-position: center; }
/* line 465, ../sass/user.scss */
#plans .the-makeover { background-image: url('/assets/dist/images/makeover.png'); background-repeat: no-repeat; background-position: center; }
/* line 471, ../sass/user.scss */
#plans .alacartes { min-height: 500px; position: relative; }
/* line 475, ../sass/user.scss */
#plans .alacartes h4 { color: #ff6494; text-transform: none; font-size: 28px; line-height: 34px; background-repeat: no-repeat; background-position: center 0; padding-top: 200px; text-align: center; margin: 0; }
/* line 486, ../sass/user.scss */
#plans .alacartes h4.video { background-image: url('/assets/dist/images/pricing_video.png'); }
/* line 490, ../sass/user.scss */
#plans .alacartes h4.diary { background-image: url('/assets/dist/images/pricing_diary.png'); }
/* line 495, ../sass/user.scss */
#plans .alacartes h5 { font-size: 58px; line-height: 64px; font-weight: 300; color: #5c2a43; text-align: center; margin: 0; }
/* line 503, ../sass/user.scss */
#plans .alacartes h5 sup { font-size: 50%; }
/* line 510, ../sass/user.scss */
#plans .card-submit-container button { margin-left: 10px; }

/* line 518, ../sass/user.scss */
#registration .title h3, .registration .title h3 { color: #5c2a43; margin-bottom: 30px; }
/* line 524, ../sass/user.scss */
#registration .submit-container .btn, .registration .submit-container .btn { text-align: left; }
/* line 527, ../sass/user.scss */
#registration .submit-container .btn.next i, .registration .submit-container .btn.next i { font-weight: normal; margin-left: 20px; color: #83dbdd; }
/* line 534, ../sass/user.scss */
#registration .submit-container .btn.save, .registration .submit-container .btn.save { display: none; }
/* line 540, ../sass/user.scss */
#registration #registration-progress, .registration #registration-progress { background-image: url('/assets/dist/images/1x1-pixel.png'); background-position: left center; background-repeat: repeat-x; display: inline-block; margin: 20px auto 10px; }
/* line 547, ../sass/user.scss */
#registration #registration-progress li, .registration #registration-progress li { padding: 0; margin: 0 25px 0 0; }
/* line 551, ../sass/user.scss */
#registration #registration-progress li.last, .registration #registration-progress li.last { margin: 0; }
/* line 555, ../sass/user.scss */
#registration #registration-progress li a, .registration #registration-progress li a { display: block; width: 50px; height: 50px; text-align: center; color: #ffffff; border: 1px #ac738c solid; background: #5c2a43; border-radius: 50%; font-size: 22px; line-height: 48px; }
/* line 567, ../sass/user.scss */
#registration #registration-progress li a.active, .registration #registration-progress li a.active { background: #ffffff; color: #5c2a43; border: 5px #fff6eb solid; line-height: 45px; }
/* line 574, ../sass/user.scss */
#registration #registration-progress li a:hover, #registration #registration-progress li a:active, .registration #registration-progress li a:hover, .registration #registration-progress li a:active { text-decoration: none; }
/* line 581, ../sass/user.scss */
#registration .choices, .registration .choices { margin-bottom: 30px; }
/* line 585, ../sass/user.scss */
#registration .choices.choices-3 .btn, .registration .choices.choices-3 .btn { width: 344px; }
/* line 591, ../sass/user.scss */
#registration .choices.choices-2 .btn, .registration .choices.choices-2 .btn { width: 520px; }
/* line 596, ../sass/user.scss */
#registration .choices.yes-no-more, .registration .choices.yes-no-more { margin-bottom: 10px; }
/* line 600, ../sass/user.scss */
#registration .choices.more, .registration .choices.more { position: relative; margin-bottom: 30px; }
/* line 604, ../sass/user.scss */
#registration .choices.more .if_yes, .registration .choices.more .if_yes { position: absolute; left: -60px; top: 30px; }
/* line 611, ../sass/user.scss */
#registration .choices > label, .registration .choices > label { display: block; color: #5c2a43; padding: 5px 10px; background: #fcf2e6; font-weight: bold; border: 1px #e7d2bd solid; margin-bottom: 10px; margin-top: 10px; }
/* line 622, ../sass/user.scss */
#registration .choices .btn-group, .registration .choices .btn-group { display: block; overflow: hidden; }
/* line 626, ../sass/user.scss */
#registration .choices .btn-group .btn, .registration .choices .btn-group .btn { display: block; margin-right: 10px; color: #5c2a43; background: #f1dfc9; border: 1px #e7d2bd solid; font-weight: 300; float: left; }
/* line 635, ../sass/user.scss */
#registration .choices .btn-group .btn.last, .registration .choices .btn-group .btn.last { margin-right: 0; }
/* line 639, ../sass/user.scss */
#registration .choices .btn-group .btn.active, .registration .choices .btn-group .btn.active { background: #ff6494; color: #ffffff; font-weight: bold; }

/* line 649, ../sass/user.scss */
#dashboard { position: relative; padding-top: 10px; }
/* line 653, ../sass/user.scss */
#dashboard .upcoming-event { position: absolute; top: -75px; right: 0; width: 800px; color: #ffffff; }
/* line 660, ../sass/user.scss */
#dashboard .upcoming-event .start-session { background: #ffffff; font-weight: bold; color: #ff6494; border-radius: 15px; width: 170px; }
/* line 667, ../sass/user.scss */
#dashboard .upcoming-event .start-session i { font-size: 26px; color: #ff6494; }
/* line 671, ../sass/user.scss */
#dashboard .upcoming-event .start-session i:before { font-size: 26px; color: #ff6494; line-height: 10px; left: 0; top: -7px; }
/* line 683, ../sass/user.scss */
#dashboard .alert-container { margin-top: 20px; }
/* line 686, ../sass/user.scss */
#dashboard .alert-container .alert { padding: 10px; }
/* line 691, ../sass/user.scss */
#dashboard #dashboard-controls { position: absolute; top: -20px; right: 0; border: 1px #9B9B9B solid; border-top: 0; }
/* line 698, ../sass/user.scss */
#dashboard #dashboard-controls .add-diary { border-right: 2px #9B9B9B solid; }
/* line 702, ../sass/user.scss */
#dashboard #dashboard-controls button { padding: 5px 20px; font-weight: 500; color: #ff6494; background: #ffffff; }
/* line 710, ../sass/user.scss */
#dashboard #sidebar { margin-top: 35px; }
/* line 713, ../sass/user.scss */
#dashboard #sidebar .about { text-align: left; font-size: 14px; line-height: 18px; padding: 10px; }
/* line 724, ../sass/user.scss */
#dashboard #diary .form-control, #dashboard #message .form-control, #dashboard #notes .form-control, #dashboard #info .form-control, #dashboard .diary-counselor .form-control { box-shadow: none; }
/* line 728, ../sass/user.scss */
#dashboard #diary .recipient, #dashboard #message .recipient, #dashboard #notes .recipient, #dashboard #info .recipient, #dashboard .diary-counselor .recipient { border-bottom: 1px #9B9B9B solid; }
/* line 731, ../sass/user.scss */
#dashboard #diary .recipient .recipient-select, #dashboard #message .recipient .recipient-select, #dashboard #notes .recipient .recipient-select, #dashboard #info .recipient .recipient-select, #dashboard .diary-counselor .recipient .recipient-select { border-left: 1px #9B9B9B solid; }
/* line 737, ../sass/user.scss */
#dashboard #diary label.error, #dashboard #message label.error, #dashboard #notes label.error, #dashboard #info label.error, #dashboard .diary-counselor label.error { font-weight: 300; font-size: 16px; color: red; }
/* line 743, ../sass/user.scss */
#dashboard #diary .title, #dashboard #message .title, #dashboard #notes .title, #dashboard #info .title, #dashboard .diary-counselor .title { background: #ffffff; border: 1px #9B9B9B solid; }
/* line 747, ../sass/user.scss */
#dashboard #diary .title input, #dashboard #message .title input, #dashboard #notes .title input, #dashboard #info .title input, #dashboard .diary-counselor .title input { height: 60px; padding: 0 20px; line-height: 60px; font-size: 22px; border: 0; }
/* line 755, ../sass/user.scss */
#dashboard #diary .title select, #dashboard #message .title select, #dashboard #notes .title select, #dashboard #info .title select, #dashboard .diary-counselor .title select { border: 0; height: 60px; padding-top: 15px; font-size: 22px; color: #5c2a43; }
/* line 762, ../sass/user.scss */
#dashboard #diary .title .icon, #dashboard #message .title .icon, #dashboard #notes .title .icon, #dashboard #info .title .icon, #dashboard .diary-counselor .title .icon { text-align: center; }
/* line 765, ../sass/user.scss */
#dashboard #diary .title .icon i, #dashboard #message .title .icon i, #dashboard #notes .title .icon i, #dashboard #info .title .icon i, #dashboard .diary-counselor .title .icon i { font-size: 36px; color: #ac738c; margin: 12px auto; }
/* line 770, ../sass/user.scss */
#dashboard #diary .title .icon i:before, #dashboard #message .title .icon i:before, #dashboard #notes .title .icon i:before, #dashboard #info .title .icon i:before, #dashboard .diary-counselor .title .icon i:before { font-size: 36px; color: #ff5f92; line-height: 10px; left: 15px; top: 5px; }
/* line 779, ../sass/user.scss */
#dashboard #diary .title .icon span, #dashboard #message .title .icon span, #dashboard #notes .title .icon span, #dashboard #info .title .icon span, #dashboard .diary-counselor .title .icon span { background-image: url('/assets/dist/images/icon-diary2.png'); background-repeat: no-repeat; width: 36px; height: 36px; display: block; margin: 12px auto; }
/* line 787, ../sass/user.scss */
#dashboard #diary .body, #dashboard #message .body, #dashboard #notes .body, #dashboard #info .body, #dashboard .diary-counselor .body { background: #ffffff; border: 1px #9B9B9B solid; padding: 15px; }
/* line 793, ../sass/user.scss */
#dashboard #diary textarea, #dashboard #message textarea, #dashboard #notes textarea, #dashboard #info textarea, #dashboard .diary-counselor textarea { border: 1px #9B9B9B solid; border-top: 0; color: #4A4A4A; padding: 20px; height: 300px; font-size: 16px; line-height: 22px; }
/* line 803, ../sass/user.scss */
#dashboard #diary .submit-container, #dashboard #message .submit-container, #dashboard #notes .submit-container, #dashboard #info .submit-container, #dashboard .diary-counselor .submit-container { background: #9B9B9B; border: 1px #9B9B9B solid; border-top: 0; }
/* line 808, ../sass/user.scss */
#dashboard #diary .submit-container .cancel, #dashboard #message .submit-container .cancel, #dashboard #notes .submit-container .cancel, #dashboard #info .submit-container .cancel, #dashboard .diary-counselor .submit-container .cancel { background: transparent; color: #F4F4F4; border-right: 1px #9B9B9B solid; }
/* line 814, ../sass/user.scss */
#dashboard #diary .submit-container .submit, #dashboard #message .submit-container .submit, #dashboard #notes .submit-container .submit, #dashboard #info .submit-container .submit, #dashboard .diary-counselor .submit-container .submit { background: transparent; color: #ff6494; font-weight: bold; }
/* line 820, ../sass/user.scss */
#dashboard #diary .submit-container .save, #dashboard #message .submit-container .save, #dashboard #notes .submit-container .save, #dashboard #info .submit-container .save, #dashboard .diary-counselor .submit-container .save { background: transparent; border-right: 1px #9B9B9B solid; color: #4A4A4A; }
/* line 828, ../sass/user.scss */
#dashboard .diary-counselor { margin-bottom: 20px; cursor: pointer; }
/* line 833, ../sass/user.scss */
#dashboard .diary-counselor .title .col-lg-11 { border-left: 1px #9B9B9B solid; }
/* line 836, ../sass/user.scss */
#dashboard .diary-counselor .title .col-lg-11 .label { position: absolute; right: 20px; top: 20px; font-weight: 300; }
/* line 844, ../sass/user.scss */
#dashboard .diary-counselor .title .text { height: 60px; padding: 0 20px 0 0; line-height: 60px; font-style: italic; font-size: 22px; }
/* line 853, ../sass/user.scss */
#dashboard .diary-counselor .body { background: #ffffff; padding: 5px 25px 25px 25px; min-height: 150px; border: 1px #9B9B9B solid; border-top: 0; }
/* line 860, ../sass/user.scss */
#dashboard .diary-counselor .body .datetime { color: #ff5f92; font-size: 14px; margin-bottom: 10px; }
/* line 871, ../sass/user.scss */
#dashboard .diary-counselor .comments .title { background: #C3C3C3; border-top: 0; border: 1px #9B9B9B solid; border-bottom-width: 3px; height: 40px; position: relative; }
/* line 879, ../sass/user.scss */
#dashboard .diary-counselor .comments .title h4 { position: absolute; right: 1px; width: 180px; border-left: 1px #9B9B9B solid; top: 0; line-height: 39px; height: 39px; margin: 0; text-align: center; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjJlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: linear-gradient(#9B9B9B, #ffffff); font-weight: bold; }
/* line 894, ../sass/user.scss */
#dashboard .diary-counselor .comments textarea { background-image: url('/assets/dist/images/icon-triangle-down2.png'); background-position: center top; background-repeat: no-repeat; }
/* line 902, ../sass/user.scss */
#dashboard #notes, #dashboard #info { padding-top: 0; }
/* line 905, ../sass/user.scss */
#dashboard #notes .title, #dashboard #info .title { border-bottom: 1px solid #9B9B9B; }
/* line 908, ../sass/user.scss */
#dashboard #notes .title h2, #dashboard #info .title h2 { font-weight: 300; font-style: italic; }
/* line 913, ../sass/user.scss */
#dashboard #notes .title .icon, #dashboard #info .title .icon { height: 63px; border-right: 1px solid #9B9B9B; }
/* line 916, ../sass/user.scss */
#dashboard #notes .title .icon i:before, #dashboard #info .title .icon i:before { left: 10px; top: 12px; }
/* line 923, ../sass/user.scss */
#dashboard #notes .note, #dashboard #info .note { background: #ffffff; padding: 20px; }
/* line 927, ../sass/user.scss */
#dashboard #notes .note .meta, #dashboard #info .note .meta { color: #e67092; font-size: 14px; }
/* line 936, ../sass/user.scss */
#dashboard #diary .title .col-lg-1 { border-right: 1px #9B9B9B solid; }
/* line 941, ../sass/user.scss */
#dashboard #diary .title .icon span { margin: 12px 0 12px 9px; }
/* line 947, ../sass/user.scss */
#dashboard #diary .word-count { margin: 4px 0 0 10px; color: #a68c99; padding: 5px 10px; border-radius: 5px; display: block; }
/* line 954, ../sass/user.scss */
#dashboard #diary .word-count.invalid { background: #D9534F; color: #ffffff; font-weight: bold; }
/* line 961, ../sass/user.scss */
#dashboard #diary .comments { background-color: #ffffff; position: relative; padding: 20px; border: 1px #9B9B9B solid; border-top-width: 3px; background-image: url('/assets/dist/images/icon-triangle-down2.png'); background-position: center top; background-repeat: no-repeat; }
/* line 971, ../sass/user.scss */
#dashboard #diary .comments .title { background: transparent; border: 0; }
/* line 975, ../sass/user.scss */
#dashboard #diary .comments .title h4 { position: absolute; top: -48px; right: 1px; width: 180px; border-left: 1px #9B9B9B solid; line-height: 39px; height: 48px; margin: 0; text-align: center; background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjJlOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background: linear-gradient(#fbf2e8, #ffffff); font-weight: bold; }
/* line 994, ../sass/user.scss */
#dashboard #diaries .diary { cursor: pointer; padding-top: 180px; text-align: center; background-image: url('/assets/dist/images/diary.png'); background-position: center top; background-repeat: no-repeat; }
/* line 1002, ../sass/user.scss */
#dashboard #diaries .diary.unread { background-image: url('/assets/dist/images/diary-unread.png'); }
/* line 1006, ../sass/user.scss */
#dashboard #diaries .diary .label { font-weight: 300; left: 55px; position: absolute; top: 153px; }
/* line 1013, ../sass/user.scss */
#dashboard #diaries .diary h5, #dashboard #diaries .diary p { margin-bottom: 5px; }
/* line 1019, ../sass/user.scss */
#dashboard #messages { background: #ffffff; border: 1px #9B9B9B solid; padding-top: 5px; }
/* line 1024, ../sass/user.scss */
#dashboard #messages .top { margin-bottom: 20px; }
/* line 1028, ../sass/user.scss */
#dashboard #messages .btn { margin-top: 5px; font-weight: bold; }
/* line 1032, ../sass/user.scss */
#dashboard #messages .btn i, #dashboard #messages .btn .caret { border-top-color: #ffffff; border-bottom-color: #ffffff; }
/* line 1038, ../sass/user.scss */
#dashboard #messages textarea { color: #4A4A4A; padding: 20px; height: 200px; font-size: 16px; line-height: 22px; box-shadow: none !important; }
/* line 1048, ../sass/user.scss */
#dashboard #messages .submit-container { background: #4A4A4A; border-top: 1px #9B9B9B solid; padding: 10px; margin: 0 -15px 20px; }
/* line 1055, ../sass/user.scss */
#dashboard #messages .submit-container .btn-primary { border-radius: 0; }
/* line 1060, ../sass/user.scss */
#dashboard #messages .message { margin-bottom: 30px; }
/* line 1063, ../sass/user.scss */
#dashboard #messages .message h3 { margin: 0; font-size: 18px; text-transform: none; font-weight: bold; }
/* line 1070, ../sass/user.scss */
#dashboard #messages .message .col-lg-2 { width: 12.667%; }
/* line 1074, ../sass/user.scss */
#dashboard #messages .message .col-lg-10 { width: 87.333%; }
/* line 1078, ../sass/user.scss */
#dashboard #messages .message .content, #dashboard #messages .message .date { color: #4A4A4A; font-size: 16px; line-height: 24px; }
/* line 1088, ../sass/user.scss */
#dashboard.counselor #sidebar { margin-top: 0; }
/* line 1092, ../sass/user.scss */
#dashboard.counselor #sidebar .section.attached-top { margin-top: -30px; }
/* line 1099, ../sass/user.scss */
#dashboard.counselor .user-meta .name { border: 0; }
/* line 1104, ../sass/user.scss */
#dashboard.counselor .customer, #dashboard.counselor #customer { margin-bottom: 10px; }
/* line 1107, ../sass/user.scss */
#dashboard.counselor .customer img, #dashboard.counselor #customer img { margin: 10px auto; }
/* line 1111, ../sass/user.scss */
#dashboard.counselor .customer .name, #dashboard.counselor #customer .name { background: #ffffff; border: 1px #9B9B9B solid; font-size: 16px; line-height: 34px; position: relative; padding: 0 0 0 15px; border-radius: 0 12px; }
/* line 1120, ../sass/user.scss */
#dashboard.counselor .customer .name .label, #dashboard.counselor #customer .name .label { position: absolute; left: -5px; top: -5px; }
/* line 1126, ../sass/user.scss */
#dashboard.counselor .customer .name .icon, #dashboard.counselor #customer .name .icon { display: block; position: absolute; right: 0; top: 5px; }
/* line 1132, ../sass/user.scss */
#dashboard.counselor .customer .name .icon .glyphicons, #dashboard.counselor #customer .name .icon .glyphicons { padding: 0; }
/* line 1135, ../sass/user.scss */
#dashboard.counselor .customer .name .icon .glyphicons:before, #dashboard.counselor #customer .name .icon .glyphicons:before { color: #ff5f92; line-height: 22px; font-size: 22px; margin: 0; position: relative; top: -8px; left: 5px; }
/* line 1147, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper, #dashboard.counselor #customer .name .dropper { cursor: pointer; position: absolute; right: 0; top: 0; background-image: url('/assets/dist/images/icon-triangle-down.png'); background-repeat: no-repeat; background-position: right center; width: 40px; margin: 5px; }
/* line 1158, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper .icon, #dashboard.counselor #customer .name .dropper .icon { position: static; }
/* line 1163, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu, #dashboard.counselor #customer .name .dropper-menu { position: absolute; right: -1px; top: -1px; z-index: 99; }
/* line 1169, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li, #dashboard.counselor #customer .name .dropper-menu li { position: relative; width: 170px; cursor: pointer; background: #ffffff; height: 35px; padding: 0 0 0 5px; }
/* line 1177, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li.active, #dashboard.counselor #customer .name .dropper-menu li.active { font-weight: bold; }
/* line 1181, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li .icon, #dashboard.counselor #customer .name .dropper-menu li .icon { right: 12px; top: 6px; }
/* line 1186, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li.info, #dashboard.counselor #customer .name .dropper-menu li.info { border: 1px #9B9B9B solid; border-bottom: 0; border-left: 0; border-radius: 0 12px; }
/* line 1193, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li.notes, #dashboard.counselor #customer .name .dropper-menu li.notes { border: 1px #9B9B9B solid; border-top: 0; border-bottom: 0; }
/* line 1199, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li.diary, #dashboard.counselor #customer .name .dropper-menu li.diary { border: 1px #9B9B9B solid; border-top: 0; }
/* line 1203, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li span, #dashboard.counselor #customer .name .dropper-menu li span { display: inline-block; position: relative; }
/* line 1208, ../sass/user.scss */
#dashboard.counselor .customer .name .dropper-menu li .title, #dashboard.counselor #customer .name .dropper-menu li .title { height: 20px; line-height: 20px; }
/* line 1218, ../sass/user.scss */
#dashboard.counselor .customer { cursor: pointer; }
/* line 1224, ../sass/user.scss */
#dashboard #conversations #conversation-list { border: 1px #9B9B9B solid; border-right: 0; border-bottom: 0; background: #faf0e4; float: left; }
/* line 1231, ../sass/user.scss */
#dashboard #conversations #conversation-list .conversation { cursor: pointer; border-bottom: 1px #9B9B9B solid; background-color: #9B9B9B;}
/* line 1234, ../sass/user.scss */
#dashboard #conversations #conversation-list .conversation.even { background: #C3C3C3; }
/* line 1238, ../sass/user.scss */
#dashboard #conversations #conversation-list .conversation.active { background: #000; color: #ffffff; }
/* line 1242, ../sass/user.scss */
#dashboard #conversations #conversation-list .conversation .badge { position: absolute; top: 10px; right: 0; }
/* line 1249, ../sass/user.scss */
#dashboard #conversations #conversation-list .col-lg-3 { margin-top: -7px; padding-right: 5px; padding-left: 5px; }
/* line 1255, ../sass/user.scss */
#dashboard #conversations #conversation-list img { margin-top: 10px; border: 0; }
/* line 1260, ../sass/user.scss */
#dashboard #conversations #conversation-list h4 { text-transform: none; font-size: 16px; margin-bottom: 5px; }
#dashboard #conversations #conversation-list .active h4 { color: #fff;}
/* line 1265, ../sass/user.scss */
#dashboard #conversations #conversation-list .date { color: #fff; font-size: 14px; margin-top: 5px; font-weight: 800; }
/* line 1271, ../sass/user.scss */
#dashboard #conversations #conversation-list .excerpt { color: #fff; font-size: 14px; line-height: 20px; }
/* line 1278, ../sass/user.scss */
#dashboard #conversations #message-list { border: 1px #9B9B9B solid; background: #ffffff; min-height: 300px; }
/* line 1283, ../sass/user.scss */
#dashboard #conversations #message-list #messages { border: 0; }
/* line 1286, ../sass/user.scss */
#dashboard #conversations #message-list #messages .submit-container { background: transparent; border: 0; padding: 10px 0; }
/* line 1296, ../sass/user.scss */
#dashboard #video_add { background: #fff; border-radius: 3px; border: #000 1px solid; }
/* line 1301, ../sass/user.scss */
#dashboard #video_add .wrapper { padding: 0 20px; }
/* line 1305, ../sass/user.scss */
#dashboard #video_add .form-body { margin-left: 20px; padding-bottom: 10px; }
/* line 1311, ../sass/user.scss */
#dashboard #video_add .form-group.submit { border-top: #000 1px solid; background: #000; padding-bottom: 15px; margin: 0; }
/* line 1317, ../sass/user.scss */
#dashboard #video_add .form-group.submit .btn-primary { border-radius: 0 0 4px 4px; margin-bottom: 0; padding-left: 30px; padding-right: 30px; }
/* line 1329, ../sass/user.scss */
#dashboard #event .date-title .col-lg-1, #dashboard .event .date-title .col-lg-1 { background: #9B9B9B; color: #fff; height: 70px; }
/* line 1334, ../sass/user.scss */
#dashboard #event .date-title .col-lg-1 .day, #dashboard .event .date-title .col-lg-1 .day { display: block; line-height: 70px; font-weight: bold; font-size: 42px; text-align: center; }
/* line 1343, ../sass/user.scss */
#dashboard #event .date-title .col-lg-11, #dashboard .event .date-title .col-lg-11 { background: #fff; border: 2px #9B9B9B solid; height: 70px; }
/* line 1348, ../sass/user.scss */
#dashboard #event .date-title .col-lg-11 h4, #dashboard .event .date-title .col-lg-11 h4 { text-transform: none; }
/* line 1355, ../sass/user.scss */
#dashboard #event .title .row, #dashboard .event .title .row { background: #ffffff; }
/* line 1358, ../sass/user.scss */
#dashboard #event .title .col-lg-1, #dashboard .event .title .col-lg-1 { border: 1px #9B9B9B solid; height: 65px; }
/* line 1363, ../sass/user.scss */
#dashboard #event .title .icon, #dashboard .event .title .icon { text-align: center; }
/* line 1366, ../sass/user.scss */
#dashboard #event .title .icon i, #dashboard .event .title .icon i { font-size: 36px; color: #ac738c; margin: 12px auto; }
/* line 1371, ../sass/user.scss */
#dashboard #event .title .icon i:before, #dashboard .event .title .icon i:before { font-size: 36px; color: #ac738c; line-height: 10px; left: 15px; top: 5px; }
/* line 1380, ../sass/user.scss */
#dashboard #event .title .icon span, #dashboard .event .title .icon span { background-image: url('/assets/dist/images/icon-event.png'); background-repeat: no-repeat; width: 36px; height: 36px; display: block; margin: 12px auto; }
/* line 1387, ../sass/user.scss */
#dashboard #event .title .col-lg-11, #dashboard .event .title .col-lg-11 { border: 1px #9B9B9B solid; height: 65px; border-top: 0; background: #ffffff; }
/* line 1394, ../sass/user.scss */
#dashboard #event .title .text, #dashboard .event .title .text { height: 60px; padding: 0 20px 0 0; line-height: 60px; font-style: italic; font-size: 22px; }
/* line 1403, ../sass/user.scss */
#dashboard #event .content, #dashboard .event .content { padding: 20px; background: #ffffff; border: 1px #9B9B9B solid; }
/* line 1410, ../sass/user.scss */
#dashboard .event { margin-bottom: 20px; }
/* line 1414, ../sass/user.scss */
#dashboard .event .date-title .col-lg-1 .month { display: block; text-align: center; }
/* line 1419, ../sass/user.scss */
#dashboard .event .date-title .col-lg-1 .day { line-height: 30px; }

/* line 1428, ../sass/user.scss */
#my_account .existing-card { border: 1px #c2b4bb solid; background: #fff7ec; padding: 15px 15px 0 15px; margin-bottom: 30px; }
/* line 1435, ../sass/user.scss */
#my_account .profile-pic { text-align: center; }
/* line 1438, ../sass/user.scss */
#my_account .profile-pic .picture-upload-link { margin: 10px auto; }
/* line 1444, ../sass/user.scss */
#my_account #profile-form .row { margin-bottom: 20px; }
/* line 1451, ../sass/user.scss */
#my_account .registration .submit-container .previous { display: none; }
/* line 1455, ../sass/user.scss */
#my_account .registration .submit-container .next { display: none; }
/* line 1459, ../sass/user.scss */
#my_account .registration .submit-container .save { display: block; }
/* line 1465, ../sass/user.scss */
#my_account .registration .choices.choices-2 .btn { width: 400px; }
/* line 1470, ../sass/user.scss */
#my_account .registration .choices.choices-3 .btn { width: 264px; }
/* line 1477, ../sass/user.scss */
#my_account .plan-cancel { position: absolute; top: -20px; right: 0; padding: 5px 30px; background: #fcf2e6; border: 1px #9B9B9B solid; color: #a68c99; border-radius: 0 0 6px 6px; }

/** Modals **/
/* line 1491, ../sass/user.scss */
.modal .add-credits { width: 400px; }
/* line 1494, ../sass/user.scss */
.modal .add-credits .credit-form { margin-top: 20px; }
/* line 1497, ../sass/user.scss */
.modal .add-credits .credit-form .row { margin: 10px 0; }
/* line 1502, ../sass/user.scss */
.modal .add-credits .btn-success { font-weight: bold; margin-top: 10px; }
/* line 1507, ../sass/user.scss */
.modal .add-credits .alert { margin-top: 20px; padding: 5px; }
/* line 1513, ../sass/user.scss */
.modal .add-credits .input-group .input-group-addon { text-align: center; padding: 6px; border-radius: 0; background: transparent; border: 2px #4A4A4A solid; cursor: pointer; }
/* line 1521, ../sass/user.scss */
.modal .add-credits .input-group .input-group-addon i { font-size: 16px; padding: 0; color: #ac738c; }
/* line 1526, ../sass/user.scss */
.modal .add-credits .input-group .input-group-addon i:before { font-size: 16px; color: #4A4A4A; line-height: 10px; position: relative; top: -3px; left: 2px; }
/* line 1537, ../sass/user.scss */
.modal .add-credits .input-group .form-control { font-size: 20px; box-shadow: none; background: #4A4A4A; color: #fff; border: 1px #4A4A4A solid; text-align: center; }
/* line 1547, ../sass/user.scss */
.modal .add-credits .modal-footer { padding-top: 0; padding-bottom: 10px; text-align: center; margin-top: 0; }
/* line 1553, ../sass/user.scss */
.modal .add-credits .modal-footer .btn-primary { border-radius: 0 0 6px 6px; font-size: 20px; padding: 10px 40px; }
/* line 1559, ../sass/user.scss */
.modal .add-credits .modal-footer .cancel { position: absolute; left: 3px; top: 3px; font-weight: 300; }
/* line 1569, ../sass/user.scss */
.modal .welcome .modal-header { border: 0; padding: 10px 15px 0; }
/* line 1573, ../sass/user.scss */
.modal .welcome .modal-header h3 { text-transform: none; color: #ff6494; margin: 0; font-size: 36px; }
/* line 1583, ../sass/user.scss */
.modal .confirm .modal-header { padding: 0 15px; }
/* line 1587, ../sass/user.scss */
.modal .confirm .modal-body { padding: 0 15px; }

/** FULL CALENDAR **/
/* line 1596, ../sass/user.scss */
.fc .fc-header .fc-button { border-radius: 0; margin-bottom: 0; background-color: transparent; border: 0; box-shadow: 0; }
/* line 1603, ../sass/user.scss */
.fc .fc-header .fc-button.fc-button-prev, .fc .fc-header .fc-button.fc-button-prev:hover { background-image: url('/assets/dist/images/icon-triangle-previous.png'); background-repeat: no-repeat; width: 10px; height: 10px; margin: 10px 0 0 30px; background-position: 0 0; }
/* line 1609, ../sass/user.scss */
.fc .fc-header .fc-button.fc-button-next, .fc .fc-header .fc-button.fc-button-next:hover { background-image: url('/assets/dist/images/icon-triangle-next.png'); background-repeat: no-repeat; width: 10px; height: 10px; margin: 10px 30px 0 0; background-position: 0 0; }
/* line 1616, ../sass/user.scss */
.fc .fc-header .fc-header-title h2 { text-transform: uppercase; font-size: 15px; line-height: 20px; }
/* line 1623, ../sass/user.scss */
.fc .fc-day .fc-day-number { font-size: 13px; }
/* line 1629, ../sass/user.scss */
.fc .fc-border-separate th, .fc .fc-border-separate td { border: 0; }
/* line 1633, ../sass/user.scss */
.fc .fc-grid th { font-size: 12px; font-weight: 300; }
/* line 1639, ../sass/user.scss */
.fc .fc-event-container .fc-event { border: 1px #ff6494 solid; background: #ffb0c7; height: 30px; margin-top: -25px; border: 0; z-index: 1; cursor: pointer; position: relative; }
/* line 1649, ../sass/user.scss */
.fc .fc-event-container .fc-event .fc-day-number { font-size: 13px; line-height: 20px; }
/* line 1654, ../sass/user.scss */
.fc .fc-event-container .fc-event-title { display: none; }

/* line 1660, ../sass/user.scss */
#main-calendar, .fc.calendar { background: #fff;  color: #000; border: 1px #979797 solid; padding: 10px; }
/* line 1667, ../sass/user.scss */
#main-calendar .fc-header .fc-header-title h2, .fc.calendar .fc-header .fc-header-title h2 { font-size: 26px; line-height: 40px; }
/* line 1676, ../sass/user.scss */
#main-calendar .fc-view .fc-day-number, .fc.calendar .fc-view .fc-day-number { font-size: 38px; font-weight: normal; float: none; text-align: center; line-height: 40px; }
/* line 1685, ../sass/user.scss */
#main-calendar .fc-state-default, .fc.calendar .fc-state-default { box-shadow: none; }
/* line 1689, ../sass/user.scss */
#main-calendar .fc-event, .fc.calendar .fc-event { height: auto; margin-top: 0; cursor: default; }
/* line 1694, ../sass/user.scss */
#main-calendar .fc-event .event, .fc.calendar .fc-event .event { margin-bottom: 0; padding: 3px; }
/* line 1697, ../sass/user.scss */
#main-calendar .fc-event .event .title, .fc.calendar .fc-event .event .title { font-size: 12px; line-height: 14px; }

/* line 1707, ../sass/user.scss */
#availability-calendar .fc-view .fc-day-number { text-align: left; }
/* line 1710, ../sass/user.scss */
#availability-calendar .fc-view .fc-day-number .fa { color: #398439; float: right; font-size: 24px; margin: 8px 10px 0 0; cursor: pointer; }
/* line 1719, ../sass/user.scss */
#availability-calendar .fc-view .availability { padding: 0 5px; overflow: hidden; }
/* line 1723, ../sass/user.scss */
#availability-calendar .fc-view .availability.unavailable { background: #D9534F; }
/* line 1727, ../sass/user.scss */
#availability-calendar .fc-view .availability.available { background: #398439; }
/* line 1731, ../sass/user.scss */
#availability-calendar .fc-view .availability .calendar-remove { background: #ffffff; padding: 0; border: 0; float: right; height: 16px; width: 16px; display: block; margin: 0 5px 5px 0; }
/* line 1741, ../sass/user.scss */
#availability-calendar .fc-view .availability .calendar-remove .fa { display: block; font-size: 20px; line-height: 16px; }
