$color-white: #ffffff;
$color-black: #000000;

$color-yellow-1: #f2dfc9;
$color-yellow-2: #fcf2e6;
$color-yellow-3: #fff6eb;
$color-yellow-4: #e7d2bd;
$color-yellow-5: #c4b3a1;
$color-yellow-6: #f5c78e;
$color-yellow-7: #efe0d0;
$color-yellow-8: #f1dfc9;
$color-yellow-9: #fff7ec;
$color-yellow-10: #faf0e4;
$color-yellow-11: #f5e8da;
$color-yellow-12: #e9c25d;
$color-yellow-13: #e8ddcf;
$color-yellow-14: #f5b464;
$color-yellow-15: #d49b57;
$color-yellow-16: #faf0e4;

$color-gray-1: #c6c6c6;
$color-gray-2: #efefef;

$color-blue-1: #23c1cc;
$color-blue-2: #24c2ce;
$color-blue-3: #a8ebf0;
$color-blue-4: #46e0e7;
$color-blue-5: #1ea9b3;

$color-pink-1: #ff6494;
$color-pink-2: #fee0de;
$color-pink-3: #e67092;
$color-pink-4: #f888a4;
$color-pink-5: #fce7e4;
$color-pink-6: #ffb0c7;
$color-pink-7: #ffe1db;
$color-pink-8: #FDF6EE;
$color-pink-9: #ffede9;
$color-pink-10: #ffe1dc;

$color-purple-1: #5c2a43;
$color-purple-2: #80656e;
$color-purple-3: #a68c99;
$color-purple-4: #c2b4bb;
$color-purple-5: #ac738c;
$color-purple-6: #401b2d;
$color-purple-7: #744057;
$color-purple-8: #491f35;
$color-purple-9: #905a72;
$color-purple-10: #622d47;
$color-purple-11: #834864;
$color-purple-12: #612c46;
$color-purple-13: #4c1a33;
$color-purple-14: #251222;
$color-purple-15: #CDADBA;
$color-purple-16: #9a5477;


$color-green-1: #398439;

$color-red-1: #D9534F;